* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: rgb(224, 220, 220);
}

.head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 30em;
    padding: 15px;
    background: linear-gradient(200deg, rgb(14, 13, 13), rgb(26, 26, 153));
    border-bottom: 2px solid #727171;
}

#titulo {
    color: blanchedalmond;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 2px 2px rgb(163, 162, 162);
    background-color: rgb(196, 159, 123);
    padding: 2px;
    border: 1px rgb(240, 224, 209);
    border-radius: 5px;
    box-shadow: 1px 1px 1px #727171;
}

.menu {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.menu-item {
    color: blanchedalmond;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    text-shadow: 1px 1px 1px rgb(163, 162, 162);
    padding: 1px;
}

.menu-item:hover {
    background-color: rgb(196, 159, 123);
    box-shadow: 1px 1px 1px #727171;
    border-radius: 3px;
    transition: background 0.5s;
    cursor: pointer;
}

.corpo {
    margin: 0 auto;
}

.corpo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: start;
    margin-top: 5px;
    margin-left: 20px;
    
}

.content {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(156, 155, 155);
    background-color: #f5f1f1;
    padding: 5px;
    width: 310px;
    height: 180px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgb(110, 109, 109);
    font-size: 16px;
    margin-top: 20px;
}

button {
    width: 150px;
    height: 35px;
    font-size: 14px;
    margin-top: 5px;
    margin-left: 140px;
    background-color: red;
    color: #ffffff;
    border: 1px solid crimson;
    border-radius: 20px;
    box-shadow: 2px 2px 2px rgb(22, 12, 12);
}

a#butao {
    width: 100px;
    height: 35px;
}

button:hover {
    background-color: rgb(184, 114, 114);
    border: none;
    cursor: pointer;
    transition: background 0.5s;
}